*.jpg
*.zip
*.png
*.pt
*.pts
*.trt
*.pkl
*.zip*
/checkpoints
*.pth
/images
/test_data
/test_imgs
/test_imgs_s0
/test_imgs_s02
/test_imgs1
/ivslab
/WFLW
/onnx-tensorflow
test_out*
__pycache__/
*.pyc
my_int8_I/O
